@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ebeef3;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
